/* .features{
    background-color:#696969
} */




a{
    color :black;
    font-weight: 600;
    text-decoration: none;
    background-color: transparent;
}
p{
    color: lightgrey;
}

a.a-link{
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid green;
    color: black;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
}
.area-box {
    background-color : white;
    border: 1px solid blue;
}

