footer {
  background-color: #111111;
  padding-top: 20px;
}
footer h3 {
  color: #ffffff;
}
footer li,
footer a,
footer i, footer .copyright {
  color: #696969;
}
footer a:hover, footer i:hover {
  color: #ffffff;
}
footer .footer__social li{
    width: 10px;
    height: 10px;
 display: inline;
 margin-right: 20px;
}

footer .copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid rgba(103, 99, 99, 0.14);
}
footer .copyright a {
    color: #f53626;
}