.number {
    background-color: #189A46;
  
}
.number__content{
border: 1px solid blue;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
text-align: center;
}
.number__content p {
    color: white;
}
.number__content .counter {

}