.number {
    background-color: #189A46;
  
}
.number__content{
border: 1px solid blue;
color: white;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
}
.number__content p {
    
}