.petfood .container .col .title {
    padding: 0 20px;
    text-align: center;
}
.petfood .container .col .title h5 {
  color: #f53626;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 1px;
}
.petfood .container .col .title h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}
.petfood .container .col .title p{
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
}
.petfood .container .col iframe{
    width: 100%;
    margin-top: 20px;
    height: 550px;
}
  
  /* .video__item {
    background: url(../img/petfood.png) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    position: relative;
    z-index: 1;
    display: grid;
    align-items: center;
    min-height: 500px;
    border-radius: 5px;
  }
  .video__item:before {
    content: "";
    background: rgb(16 15 19 / 60%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 10px;
  } */
  /* .video__item span {
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size: 26px;
    padding-left: 2px;
    text-align: center;
    line-height: 76px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    -webkit-animation: ripple 1s linear infinite;
    animation: ripple 1s linear infinite;
    border: transparent;
    background: #fff;
    color: #ff6600;
  }
  #small-dialog {
    max-width: 750px;
    margin: 40px auto;
  }
  div#small-dialog iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
  }
  .mfp-close-btn-in .mfp-close {
    color: #fff;
  }
  .mfp-close,
  .mfp-close:active {
    top: -40px;
  }
  
  /* *
       * Fade-zoom animation for first dialog
       */
  /* start state */
  /* .my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }
  
  /* animate in */
  /* .my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    transform: scale(1);
  }
  
  /* animate out */
  .my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    transform: scale(0.8);
    opacity: 0;
  }
  
  /* Dark overlay, start state */
  .my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  
  /* animate in */
  .my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.95;
  }
  
  /* animate out */
  .my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
  }  */