.testimonial {
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px;
}

.testimonial__item {
    text-align: left;
    background: rgba(245, 95, 141, 0.1);
    border-radius: 8px;
}



.testimonial__header img {
    width: 100%;
    border-radius: 8px;
}

.testimonial__header p {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    ;
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    position: absolute;
    bottom: -20px;
    left: 15px;
}

.testimonial__body {
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.testimonial__body h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}

.testimonial__footer {
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);

}

.testimonial__footer i {
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}

.testimonial__footer p:first-of-type {
    margin-right: 20px;
}

.testimonial__footer p:first-of-type span {
    color: #f55f8d;
}